body {
    background: url(img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-container {
    margin: auto;
    text-align: center;
    vertical-align: top;
    /*position: fixed;
    top: calc(50% + 80px);
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.levels { 
    margin: 0px auto 0px auto;
    text-align: center
}

.spotty { 
    margin: auto auto auto auto;
    font-size: 0;
    display: inline-block;
    /* border: 2px solid rgba(0, 0, 0, 0.7); */
    text-align: center
}

.cell { 
    position: relative;
    z-index: 1;  
    display: inline-block;
    transition: transform 0.3s ease-out;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.cell.active:hover { 
    transform: scale(1.15, 1.15); 
    z-index: 100;
}

.cell.inactive { 
    background-color: rgba(255, 255, 255, 1);
}

.btn {
    transition: transform 0.2s ease-out;
}

.btn:hover {
    transform: scale(1.15, 1.15);
}

.audioControl {
    position: absolute;
    top: 25px;
    left: calc(100% - 100px);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.audioControl.inactive {
    background-image: url(img/musicOn.png)
}

.audioControl.active {
    background-image: url(img/musicOff.png)
}

.restart {
    position: absolute;
    top: 125px;
    left: calc(100% - 100px);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(img/restart.png)
}

.question {
    position: absolute;
    top: 225px;
    left: calc(100% - 100px);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(img/question.png)
}

.tip {
    position: absolute;
    top: 200px;
    left: calc(100% - 375px);
    z-index: 1000;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0;
    background-image: none;
}

.levelBtn {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 50px 30px 50px 30px;
    display: inline-block;
    border-radius: 50%;
}

.levelBtn.active {
    transform: scale(1.25, 1.25);
}

.achivment {
    position: absolute;
    top: calc(100% - 82px);
    left: calc(50% - 150px);
    z-index: 1000;
    width: 300px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: none;
    display: inline-block;
    opacity: 0;
}

.achivment.show {
    left: calc(100% - 330px);
    opacity: 1;
    transition: left 2s ease-in-out, top 0.5s ease-in-out, opacity 1s ease-in-out;
}